@{
    ViewBag.Title = "AddNews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{

    <div class="add_news_title" style="padding-left: 300px; width: 500px;">
        <h2 align="center">AddNews</h2><br/>
        <label for="title"style="text-align: center">Topic</label>
        <textarea name="news_name" id="title" style="width: 100%;" rows="1"></textarea><br/>
        <label for="context" style="text-align: center">Content source</label>
        <textarea name="news_full" id="content" style="width: 100%" rows="1"></textarea>
        <label for="beginning" style="text-align: center">News start</label>
        <textarea name="news_start" id="beginning" style="width: 100%" rows="2"></textarea>
        <label for="image" style="text-align: center">Image Url</label>
        <textarea name="img_src" id="image" style="width: 100%" rows="1"></textarea><br/>
        <div style="padding-left: 200px;"><button type="submit">Add News</button>
        </div>
    </div>
}